@import '../SiteColorPalette.scss';

.AboutCardContainer{
    width: 100vw;
    min-height: 100vh;
    max-height: min-content;
    //padding: top right bottom left
    padding: $_card_margin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: $_60_dark;

    .ColLeft{
        display: flex;
        width: 50%;
        justify-content: center;
        // align-items: center;
        text-align: center;
        min-width: $_min_sceen_width/2;

        .Circle{
            background-color: $_10_yellow;
            width: 500px;
            height: 500px;
            border-radius: 1000px;
            z-index: 0;
            transition: 700ms ease-in-out;
            position: relative;

            @media screen and (max-width: $_min_mobile_width){
                width: 250px;
                height: 250px;
            }

            .FunnyImage{
                width: 80%;
                z-index: 99;
            }
        }
    }

    .ColRight{
        display: flex;
        flex-direction: column;
        width: 50%;

        @media screen and (max-width: $_min_mobile_width){
            padding-top: 15px;
        }

        h1{
            z-index: 99;
            font-size: xx-large;
        }

        p{
            font-size: x-large;
            z-index: 99;
            
            @media screen and (max-width: $_min_mobile_width){
                font-size: medium;
            }
        }

        .AboutTextWrapper{
            color: white;
            margin: 5px 0px 5px 0px;
        }

        @media screen and (max-width: $_min_mobile_width){
            width: 100%;
        }
    }

    @media screen and (max-width: $_min_mobile_width){
       padding-top: 5vh;
       padding-bottom: 5vh;
    }
}
