@import '../SiteColorPalette.scss';

.AboutCardContainer{
    width: 100%;
    height: 100%;
    padding: 4rem 0rem;
    position: relative;
    // position:fixed;
    height: 100vh;
    background-color: $_silver_fox;

    .ColLeft{

    }

    .ColRight{

    }
}
