@import '../SiteColorPalette.scss';

.ContactPage{
    height: 50vh;
    width: 100vw;
    background-color: $_60_dark;
    color: white;
    padding: $_card_margin;
    position: relative;
    text-align: center;

    @media screen and (max-width: $_min_mobile_width){
        padding: 10px;
    }

    .ContactContainer{
        font-size: 60px;
        position: absolute;
        width: 100%;
        top: 40%;
        left: -1%;

        .Link{
            text-decoration: none;
            color: white;
            margin: 5vw;
            
            &:hover{
                color: $_10_yellow_bold;
            }
        }

        @media screen and (max-width: $_min_mobile_width){
            top: 80px;

            .Link{
                margin: 10px;
            }
        }
    }

    .Statement{
        position: absolute;
        bottom: 50%;
        bottom: 50px;
        right: 80px;
    }

    .Email{
        text-decoration: none;
        color: white;
        font-size: x-large;
        position: absolute;
        bottom: 50px;
        left: 60px;

        &:hover{
            color: $_10_yellow_bold
        }
    }

    @media screen and (max-width: $_min_mobile_width){

        .Statement{
            font-size: 20px;
            left: 18px;
        }

        .Email{
            bottom: 100px;
            font-size: 20px;
        }
    }
}