@import '../SiteColorPalette.scss';

.DropDownMenuContainerOpen{
    overflow-x: hidden;
    position: fixed;
    z-index: 999;
    right: 0;
    // top: 0;
    width: 350px;
    height: 100vh;
    background: #3a2b44;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 800ms ease-in-out;
    
    .ExitIconContainer{
        width: 100%;
        text-align: right;
        background-color: $_60_dark;

        .ExitIcon{
            color: $_60_bright;
            margin-top: 1.2rem;
            margin-right: 1.5rem;
            margin-bottom: 1rem;
            font-size: 20px;
            cursor: pointer;
            transition: 200ms ease-in-out;

            &:hover{
                color: $_10_orange;
            }
        }
    }

    .DropDownMenuTitles{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        margin-left: 3rem;

        .DropDownMenuLinks{
            display: flex;
            font-size: 21px;
            padding: 1.2rem;
            border-radius: 6px;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: white;
            width: 100%;
            height: 100%;
            
            &:hover{
                background-color: $_60_dark_light;
            }
        }

        button{
            width: fit-content;
            font-size: $_large;
            font-weight: bold;
            background-color: $_10_yellow;
            padding: 20px;
            text-decoration: none;
            border: 1px;
            outline-style: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover{
                background-color: $_10_yellow_bold;
            }
        }
    }

    .ContactContainer{
        display: flex;
        justify-content: center;
        color: $_white_darker;
        margin: 2rem;
        font-size: 40px;

        .ContactIcon{
            text-decoration: none;
            text-decoration-color: $_white_darker;
            color: $_white_darker; 
            margin: 10px;

            &:hover{
                color: $_10_yellow_bold;
            }
        }
    }

}

.DropDownMenuContainerClosed{

    @extend .DropDownMenuContainerOpen;

    right: -100%;
}