
// ----------------------------------------------
//                     --Fonts--
// FUN
//font-family: 'Carter One', cursive;
//font-family: 'Faster One', cursive;
//font-family: 'Fredoka One', cursive;
//font-family: 'Gloria Hallelujah', cursive;
//font-family: 'Indie Flower', cursive;
//font-family: 'Lobster', cursive;
//font-family: 'Luckiest Guy', cursive;
//font-family: 'Oleo Script Swash Caps', cursive;
//font-family: 'Reenie Beanie', cursive;

// NORMAL
//font-family: 'Dancing Script', cursive;
//font-family: 'Fugaz One', cursive;
//font-family: 'Oleo Script', cursive;
//font-family: 'Philosopher', sans-serif;
//font-family: 'Poiret One', cursive;
//font-family: 'Raleway', sans-serif;
//font-family: 'Racing Sans One', cursive;
// ----------------------------------------------
// ----------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Carter+One&family=Dancing+Script:wght@500&family=Faster+One&family=Fredoka+One&family=Fugaz+One&family=Gloria+Hallelujah&family=Indie+Flower&family=Lobster&family=Luckiest+Guy&family=Oleo+Script+Swash+Caps:wght@700&family=Oleo+Script:wght@700&family=Philosopher:wght@700&family=Poiret+One&family=Raleway:wght@200&family=Reenie+Beanie&display=swap');

//$_Page_Title: 'Poiret One', cursive;
//$_Page_Title: 'Dancing Script', cursive;
//$_Page_Title: 'Fugaz One', cursive;
//$_Page_Title: 'Oleo Script', cursive;
//$_Page_Title: 'Philosopher', sans-serif;
$_Page_Title: 'Raleway', sans-serif;

$_Page_Subtitle: 'Dancing Script', cursive;

//$_Random_Title: 'Carter One', cursive;
//$_Random_Title: 'Faster One', cursive; // 2
//$_Random_Title: 'Fredoka One', cursive;
//$_Random_Title: 'Gloria Hallelujah', cursive;
//$_Random_Title: 'Indie Flower', cursive; // 3
//$_Random_Title: 'Lobster', cursive;
$_Random_Title: 'Luckiest Guy', cursive; // 1
//$_Random_Title: 'Oleo Script Swash Caps', cursive;
//$_Random_Title: 'Reenie Beanie', cursive;
//$_Random_Title: 'OleoScript', cursive;

$_Font_Title_Size: 50px;