@import '../SiteColorPalette.scss';
.ShadowWrapper{
    box-shadow: 0 20px 40px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.GridWrapper{
    //display: flex;
    //flex-direction: row;
    //position: relative;
    //background-color: black;
    margin: 20px;
    box-sizing: border-box;
    display: inline;
    width: 1000px;
    height: 1000px;
    // background-color: aqua;
    min-height: fit-content;

    .TitleWrapper1{
        //background-color: black;
        height: fit-content;
        min-width: fit-content;
        transform: rotateZ(-90deg);
        //position: absolute;
        position: relative;
        //top: 0;
        left: -540px;
        bottom: -50%;

        h1{
            text-align: center;
        }
    }

    .TitleWrapper2{
        //background-color: black;
        height: fit-content;
        min-width: fit-content;
        transform: rotateZ(-90deg);
        //position: absolute;
        position: relative;
        //top: 0;
        left: -450px;
    }
}

.HobbiesPage{
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    padding: $_card_margin;
    padding-bottom: 0;
    color: white;
    
    background: rgba( 166, 157, 157, 0.15 );
    box-shadow: inset 0 8px 500px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );

    @media screen and (max-width: $_min_mobile_width){
        padding-left: 0;
        padding-right: 0;

        text-align: center;

        .GridVolunteering{
            margin: 0;
            width: 100%;
        }

        .GridArt{
            margin: 0;
        }
    }
    .Container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .img1{
            grid-area: img1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .img2{
            grid-area: img2;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img3{
            grid-area: img3;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img4{
            grid-area: img4;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img5{
            grid-area: img5;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img6{
            grid-area: img6;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img7{
            grid-area: img7;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img8{
            grid-area: img8;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }


        $_height: 300px;
        $_collage_margin: 20px;

        .GridVolunteering{
            display: grid;
            width: 1000px;
            height: 1000px;
            // background-color: aqua;
            min-height: fit-content;
            margin: $_collage_margin;
            grid-template-columns: 50% 25% 25%;
            grid-template-rows: 34% 33% 33%;
            grid-template-areas: 
                "img1 img5 img5"
                "img2 img6 img7"
                "img3 img8 img8"
            ;
        }

        .img1_a{
            grid-area: img1_a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img2_a{
            grid-area: img2_a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img3_a{
            grid-area: img3_a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img4_a{
            grid-area: img4_a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img5_a{
            grid-area: img5_a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img6_a{
            grid-area: img6_a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img7_a{
            grid-area: img7_a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img8_a{
            grid-area: img8_a;
            object-fit: cover;
            width: 100%;
            height: 100%; 
        }

        $_height_A: 300px;

        .GridArt{
            display: grid;
            width: 1000px;
            height: 1000px;
            margin: $_collage_margin;
            // background-color: aquamarine;
            grid-template-areas: 36% 9% 27% 27%;
            // grid-template-columns: 400px 100px 300px 300px;
            grid-template-rows: 34% 33% 33%;
            grid-template-areas:
                "img1_a img2_a img2_a img3_a"
                "img4_a img4_a img5_a img6_a"
                "img4_a img4_a img7_a img8_a"
                ;
            
        }

        .GridPhotoCine{
            width: 800px;
            height: 500px;
            margin: 40px 40px 60px;
        }
    }
}