@import '../SiteColorPalette.scss';
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.TitlePageWrapper{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: aqua;

    .TitlePageContainer{
        height: 700px;
        width: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: yellow;

        .Card{
            transform-style: preserve-3d;
            height: 80%;
            width: 50%;
            display: flex;
            flex-direction: column;
            border-radius: 50px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            background-color: rgba(255, 245, 224, 0.4);

            @media screen and (max-width: $_min_sceen_width) {
                height: 60%;
            }

            @media screen and (max-width: $_min_mobile_width) {
                border-radius: 200px;
                height: 50%;
                width: 80%;
            }
            
            .Info1{
                text-align: center;
                max-height: 42%;
                margin-bottom: 50px;
                // background-color: aqua;

                .TitleHeading{
                    font-family: 'Staatliches', cursive;
                    font-size: 15rem;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                    transition: all 0.75s ease-out;

                    .Dot{
                        color: $_10_orange;
                    }

                    // Nav Bar and Tablet Screens
                    @media screen and (max-width: $_min_sceen_width) {
                        font-size: 10rem;
                    }

                    // Mobile Screens
                    @media screen and (max-width: $_min_mobile_width) {
                        font-size: 8rem;
                    }
                }

                @media screen and (max-width: $_min_mobile_width){
                    margin-bottom: 1px;
                }
            }

            .Info2{
                max-height: 50%;
                // background-color: red;
                text-align: center;
                line-height: 120px;

                .Name{
                    font-family: 'Staatliches', cursive;
                    font-size: 10rem;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                    transition: all 2s ease-out;

                    @media screen and (max-width: $_min_sceen_width) {
                        font-size: 7rem;
                    }

                    @media screen and (max-width: $_min_mobile_width) {
                        font-size: 6rem;
                    }
                }

                @media screen and (max-width: $_min_sceen_width) {
                    line-height: 80px;
                }

                @media screen and (max-width: $_min_mobile_width) {
                    line-height: 73px;
                }
            }
        }
    }

    @media screen and (max-width: $_min_mobile_width){
        transform: translateY(35vh);
        height: 50%;
        width: 100%;
    }
}