@import "../SiteColorPalette.scss";

div{ 
    .NavMenu{
        height: 80px;
        font-size: $_large;
        // background-image: linear-gradient($_deep_matte_grey, rgba(255,0,0,0));
        // background-color: $_deep_matte_grey;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        z-index: 800;
        position: fixed;
        width: 100%;

        .NavMenuIconLink{
            text-decoration: none;
            color: black;

            .NavMenuIconContainer{
                font-style: italic;
                font-weight: bold;  
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                text-align: center;
                min-height: 100%;
                min-width: 50px;
                // background-color: aqua;
                
                .NameLogo{
                    max-height: 60px;
                }
            }
        }

        .NavMenuTitles{
            display: flex;
            align-items: center;
            justify-content: left;

            @media screen and (max-width: $_min_sceen_width) {
                display: none;
            }
    
            .NavMenuLinks{
                display: flex;
                justify-content: space-evenly;
                margin: 10px;
                cursor: pointer;
                text-decoration: none;
                color: black;
                text-shadow: 0 0 20px rgba(36, 35, 35, 0.322);
            }
        }

        button{
            font-size: $_large;
            font-weight: bold;
            color: white;
            background-color: $_red;
            padding: 10px;
            text-decoration: none;
            border: 1px;
            outline-style: none;
            border-radius: 10px;
            cursor: pointer;

            @media screen and (max-width: $_min_sceen_width) {
                display: none;
            }
        }

        .NavMenuMobile{
            display: none;

            @media screen and (max-width: $_min_sceen_width){
                display: block;
                align-items: center;
                cursor: pointer;
                transition: 500ms;

                &:hover{
                    transform: rotateZ(-90deg);
                    transition: 500ms;
                }
            }
        }
    }
}