@import '../SiteColorPalette.scss';
@import './Fonts.scss';

$_profile_card_min_width: 500px;
$_profile_card_max_width: 600px;
$_profile_card_height: 500px;
$_profile_card_radius: 10px;
$_hover_time: 400ms;

.ProjectsContainer{
    min-height: 100vh;
    height: fit-content;
    background-color: $_60_bright;
    color: black;
    padding: $_card_margin;

    //Carousel{
    //    max-width: 800px;
    //}

    .ProjectsTextWrapper{
        margin: 5px 0px 5px 0px;
        font-family: $_Page_Title;
        font-size: $_Font_Title_Size;
    }

    .CardSubTitle{
        color: $_10_orange;
        text-align: center;
        font-size: 40px;
        padding: 20px;
        font-family: 'Racing Sans One', cursive;
    }

    .ContentContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;

        .CarouselWrapper{
            width: 100%;
            max-width: 1000px;
        }

        .BoxS{
            box-shadow: 10px 10px 8px #888888;
        }

        .ContentProfile{
            flex-grow: 1;
            min-width: $_profile_card_min_width;
            max-width: $_profile_card_max_width;
            height: $_profile_card_height;
            border-radius: $_profile_card_radius;
            background-color: $_60_dark_bold;
            margin: 1rem;
            position: relative;
            text-align: center;
            overflow: hidden;

            
            @media screen and (max-width: $_min_mobile_width){
                min-width: 100%;
                max-width: 100%;

                p{
                    max-width: 250px;
                }
            }

            h3{
                text-align: center;
                background-color: $_60_dark;
                color: white;
                padding: 10px;
                border-top-left-radius: $_profile_card_radius;
                border-top-right-radius: $_profile_card_radius;
            }

            img{
                width: 100%;
                // height: 100%;
                object-fit: cover;
            }

            @media screen and (max-width: $_min_mobile_width){
                img{
                    height: 100%;
                }
            }

            .Description{
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                color: rgba(0,0,0, 0);
                transition: $_hover_time ease-in-out;
                z-index: 99;
                padding: 50px 10px 10px;

                p{
                    margin-top: 20px;

                    @media screen and (max-width: $_min_mobile_width){
                        margin-top: 2px;
                    }
                }
            }

            .Grey{
                position: absolute;
                height: 92%;
                width: 100%;
                // border-radius: $_profile_card_radius;
                border-bottom-left-radius: $_profile_card_radius;
                border-bottom-right-radius: $_profile_card_radius;
                background-color: rgba(0,0,0, 0);
                transition: $_hover_time ease-in-out;
                z-index: 0;
            }

            &:hover{
                .Components{
                    color: #14dbdb;
                }

               .Des{
                   color: white;
                //    background-color: black;
               }

               .Grey{
                   background-color: rgba(0, 0, 0, 0.80);
               }
            }
        }
    }

    .ContentCard{
        background-color: rgba(0,0,0, $alpha: 0.6);
        border-radius: 20px;
        width: 90vw;
        height: 500px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        column-gap: 3vw;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 20% 70%;
        // grid-template-areas: 
        //     " image header "
        //     " image components "
        //     " image text ";
        grid-template-areas: 
            " image image"
            " header header "
            " components text ";
        align-items: center;

        h3{
            font-size: 40px;
        }

        .ImageContainer{
            grid-area: image;
            padding: 5px;
            width: 100%;
            height: 100%;
            // background-color: orange;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .ComponentsContainer{
            grid-area: components;

            h4{
                font-size: 100%;
            }

            .Icons{
                a{
                    color: white;
                    text-decoration: none;
                    margin: 2%;
                }
            }
        }

        .TextContainer{
            grid-area: text;
        }
    }
}