// Dark Contrast
// black
// Are ya yellow?!: #feda6a
// Silver Fox: #d4d4dc
// Deep Matte Grey: #393f4d
// Dark Slate: #1d1e22

// Stlyish and Sophisitcated
// #5D5C61, #379683, #7395AE, #557A95, #B1A296

$_dark_slate: #393f4d;
$_dark_slate_lighter: #494f5c;
$_dark_slate_darker: #242933;
$_deep_matte_grey: #393f4d; 
$_silver_fox: #d4d4dc;
$_yellow: #feda6a;
$_white: #d9d9d9;
$_white_darker: rgb(228, 227, 227);
$_red: #c00;
$_red_darker: rgb(172, 0, 0);

// ------- Font size -------
$_large: 25px;
$_min_sceen_width: 900px;

