
$_dark_slate: #393f4d;
$_dark_slate_lighter: #494f5c;
$_dark_slate_darker: #242933;
$_deep_matte_grey: #393f4d; 
$_silver_fox: #d4d4dc;
$_yellow: #feda6a;
$_white: #d9d9d9;
$_white_darker: rgb(228, 227, 227);
$_red: #c00;
$_red_darker: rgb(172, 0, 0);
$_orange_bold: rgb(199, 144, 81);

// ------- Color -----------
$_10_orange: #fb3f12;
$_10_yellow: #fda92b;
$_10_yellow_bold: #fda92be5;
$_30_purple: #c7aae8;
$_60_dark_light: #5b426b;
$_60_dark: #302338;
$_60_dark_bold: #3a2b44;
$_60_green: #d4e2d4;
$_60_bright: #fff5e0; 

// ------- Font size -------
$_large: 17px;

//-------- Screen ---------
$_min_sceen_width: 1000px; // Use in nav menu bar screen max:width
$_min_mobile_width: 500px;

//-------- Card ----------
$_card_margin: 5rem 3rem 5rem 2rem;

//------- Font Size Multiplier -------
$_font_scalar: 1;
